<div class="form-inner-cont mt-5">
    <form action="#" method="post" class="signin-form">
        <div class="form-grids">
            <div class="form-input">
                <input type="text" name="Name" placeholder="Enter your name *"
                       required="" />
            </div>
            <div class="form-input">
                <input type="text" name="Subject" placeholder="Enter subject "
                       required />
            </div>
            <div class="form-input">
                <input type="email" name="Sender" placeholder="Enter your email *"
                       required />
            </div>
            <div class="form-input">
                <input type="text" name="Phone" placeholder="Enter your Phone Number *"
                       required />
            </div>
        </div>
        <div class="form-input">
            <textarea name="Message" placeholder="Type your query here"
                      required=""></textarea>
        </div>
        <div class="text-right">
            <button class="btn btn-style btn-primary">Send Message</button>
        </div>
    </form>
</div>