<section class="w3l-aboutblock1" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row">
                <div class="col-lg-8 left-wthree-img pr-lg-5">
                    <h5 class="title-subw3hny mb-1">Hakkımızda</h5>
                    <h3 class="title-w3l">
                        @ViewBag.aboutTitle
                    </h3>
                </div>
                <div class="col-lg-4 mt-lg-0 mt-5 about-right-faq align-self">

                    <p class="">
                        @ViewBag.aboutDescription
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>